<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="signin.css">
  </head>

  <body>
    <div class="signin-box">
      <div> <!--EMAIL TEXTBOX-->
        <label>Email</label>
        <input type="textbox" id="signin-email" placeholder="Email">
      </div>

      <div> <!--PASSWORD TEXTBOX-->
        <label>Password</label>
        <input type="password" id="signin-password" placeholder="Password">
      </div>

      <!--SIGN IN BUTTON-->
      <button id="signin-button">Sign in</button>

      <div> <!--LINK TO SIGN UP-->
        <br>No account?
        <a id="signup-link" href="javascript:void(0);">Signup</a>
      </div>
    </div>
  </body>
</html>
