<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="signup.css">
  </head>

  <body>
    <div class="signup-box">

      <div> <!--DISPLAY NAME TEXTBOX-->
        <label>Display Name</label>
        <input type="textbox" id="signup-display-name" placeholder="Display Name">
      </div>

      <div> <!--FIRST NAME TEXTBOX-->
        <label>First Name</label>
        <input type="textbox" id="signup-name" placeholder="First Name">
      </div>

      <div> <!--SECOND NAME TEXTBOX-->
        <label>Last Name</label>
        <input type="textbox" id="signup-surname" placeholder="Last Name">
      </div>


      <div> <!--ROLE SELECTION BOX-->
        <label>Role</label>
        <select id="signup-role">
          <!--ROLE OPTIONS-->
          <option value="Student" selected>User</option>
          <option value="Supervisor">Supervisor</option>
        </select>
      </div>

      <div id="signup-supervisor-div-email"> <!--SUPERVISOR EMAIL TEXTBOX-->
        <label>Supervisor Email</label>
        <input type="textbox" id="signup-supervisor-email" placeholder="Your Supervisor's Email">
      </div>

      <div> <!--USER EMAIL TEXTBOX-->
        <label>Email</label>
        <input type="textbox" id="signup-email" placeholder="Email">
      </div>

      <div> <!--PASSWORD TEXTBOX-->
        <label>Password</label>
        <input type="password" id="signup-password" placeholder="Password">
      </div>

      <div> <!--PASSWORD TEXTBOX-->
        <label>Confirm Password</label>
        <input type="password" id="signup-confirm-password" placeholder="Password">
      </div>

      <!--SIGN UP BUTTON-->
      <button id="signup-button">Sign up</button>
    </div>
  </body>
</html>
